<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rungroop Club List</title>
    <!-- Add your CSS links here -->
</head>

<body>
    <h2>Rungroop Club List</h2>
    <div class="row gx-5">
        <!-- Iterate over each club in the 'clubs' model attribute -->
        <div th:each="club : ${clubs}" class="col-lg-6">
            <!-- Display club information -->
            <div>
                <!-- Display club photo -->
                <img class="img-fluid rounded-3 mb-5" th:src="${club.photoUrl}" alt="Club Photo" />
                <!-- Display club title -->
                <a th:text="${club.title}" class="h3 fw-bolder text-decoration-none" href="#">Club Title</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>